body {
    background-color:#323334;
    text-align: center;
    font-family: sans-serif;
}

#header {
    max-width: 100%;
    width: auto;
}

/* Style titles */
#mapTitle {
    color: #FAFAFA;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-align: center;
}

#mapSubtitle {
    color: #dcfcfe;
    font-size: 16px;
    font-weight: bold;
    margin-block-start: 0;
    margin-block-end: 2em;
    text-align: center;
}

/* Style page map content */
#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: auto;
}

#mapContainer {
    width: 900px;
    max-height: 780px;
    height: auto;
}

/* Styling base map (country) */
/* Style department blocs */
.land {
    fill: #181919;
    stroke: #2e3a3e;
    stroke-width: .5px;
}

/* Color change on hover departments */
.landlight {
    fill: #222831;
    stroke: #C9FBFE;
    stroke-width: .5px !important;
}

/* Styling paths */
/* Style for paths from North to South */
.move_NS {
    fill: none;
    stroke: #ED4E20;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 0.8;
}

/* Style for paths from South to North */
.move_SN {
    fill: none;
    stroke: #6CF6FD;
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-opacity: 0.5;
}

.highlight {
    visibility: visible;
}

.downlight {
    visibility: hidden;
}

/* Style for tooltip (names of departments when hover) */
#tooltip {
    font-size: 10pt;
    font-weight: 900;
    fill: white;
    text-shadow: 1px 1px 0 #691929, 1px -1px 0 #691929, -1px 1px 0 #691929, -1px -1px 0 #691929;
}


/* Styling the legend */
/* Styling the departments top 10 (left and right side of the map) */
#leftScale {
    color: #a6fafe;
    margin-left: 35px;
    margin-right: 10px;
    max-width: 25%;
    width: auto;
    height: auto;
}

#rightScale {
    color: #f06b44;
    margin-left: 10px;
    margin-right: 35px;
    max-width: 25%;
    width: auto;
    height: auto;
}

.scaleTitles {
    font-size: 16px;
    width: auto;
    margin-block-end: 0.1em;
}

.scaleSubtitles {
    color: #dcfcfe;
    font-size: 11px;
    margin-block-start: 0;
}

.dptNames {
    color: #bababa;
    font-size: 13px;
    cursor: pointer;
}

/* Apply style on hover to all the p tags (no underline) */
/* Then when parent is hovered and individual p tag hovered we apply underline */
.dptNames:hover > p {    
    text-decoration: none;
  }

.dptNames:hover > p:hover {
    text-decoration: underline;
  }

.dptAmountsLeft {
    color: #a6fafe;
    font-size: 13px;
}

.dptAmountsRight {
    color: #f06b44;
    font-size: 13px;
}

/* Style text info after map */
#mapContext {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-right: 0;
}

#mapInfo, #interactionInfo {
    margin: 0.1px;
    padding: 0.1px;
}

#contextInfo {
    margin-bottom: 4em;

}

.infoText {
    color: #bababa;
    font-size: 11px;
    text-align: center;
}

/* Style the footer */
#footer {
    color: #FAFAFA;
    font-size: 11px;
    width: 100%;
}

#footer a:link, a:visited {
    color: #FAFAFA;
}

#footer p {
    margin: 0.2em;
    text-align: center;
}

/* Font-size responsiveness with viewport width scale */
@media (max-width: 960px) {
    #mapSubtitle, .scaleTitles {
        font-size: 1.6vw;
    }
    .scaleSubtitles, .infoText, #footer {
        font-size: 1.1vw;
    }
    .dptNames, .dptAmountsLeft, .dptAmountsRight {
        font-size: 1.3vw;
    }
    #mapTitle {
        font-size: 4vw;
    }
  }